<a href="https://colab.research.google.com/github/9072814845/dsml/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# New Section

In [ ]:
df = pd.read_csv("taylor_swift_lyrics.csv", encoding= 'latin=1')

In [ ]:
df.head()

         artist         album  ... line  year
0  Taylor Swift  Taylor Swift  ...    1  2006
1  Taylor Swift  Taylor Swift  ...    2  2006
2  Taylor Swift  Taylor Swift  ...    3  2006
3  Taylor Swift  Taylor Swift  ...    4  2006
4  Taylor Swift  Taylor Swift  ...    5  2006

[5 rows x 7 columns]

In [ ]:
df.head()

         artist         album  ... line  year
0  Taylor Swift  Taylor Swift  ...    1  2006
1  Taylor Swift  Taylor Swift  ...    2  2006
2  Taylor Swift  Taylor Swift  ...    3  2006
3  Taylor Swift  Taylor Swift  ...    4  2006
4  Taylor Swift  Taylor Swift  ...    5  2006

[5 rows x 7 columns]

In [ ]:
songs = df.groupby('track_title').agg({'lyric': lambda x: " " .join(x),'year': 'mean'}).reset_index()

In [ ]:
songs.head()

              track_title  ...  year
0        ...Ready for It?  ...  2017
1                      22  ...  2012
2  A Perfectly Good Heart  ...  2006
3   A Place In This World  ...  2006
4            All Too Well  ...  2012

[5 rows x 3 columns]