<a href="https://colab.research.google.com/github/9072814845/dsml/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hellooo")

hellooo

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [5]:
movies=pd.read_csv("IMDb movies.csv" )
print(movies.head(5))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
s=1
print(type(s))
a="hello"
print(type(a))
b=[1,2]
print(type(b))
c={1:'apple',2:'orange'}
print(type(c))
d=True
print(type(d))
e=1.2
print(type(e))
f={"a","b"}
print(type(f))
g=()
print(type(g))
h=bytes()
print(type(h))
i=bytearray()
print(type(i))
j=range(4)
print(type(j))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

In [ ]:
k=['s','r','e','e']
print(k[0])
print(k[1])
print(k[2])
print(k[3])
print(k[0:2])
print(k[ : ])
print(k[-2])

s
r
e
e
['s', 'r']
['s', 'r', 'e', 'e']
e

In [ ]:
d={1:'sreelekshmi',2:'aswathy',3:'anjali'}
print(d)
print("1st name is"+d[1])
print("2nd name is"+d[2])
print(d.keys())
print(d.values())

{1: 'sreelekshmi', 2: 'aswathy', 3: 'anjali'}
1st name issreelekshmi
2nd name isaswathy
dict_keys([1, 2, 3])
dict_values(['sreelekshmi', 'aswathy', 'anjali'])

In [ ]:
def add(a,b):
  return a+b
res=add(2,3)
print("result",res)

result 5

In [ ]:
import numpy as np
  
matrix1 = np.array([[1, 3], [2, 6]])
matrix2 = np.array([[0, 1], [1, 9]])
print("Original 2-D matrix:")
print(matrix1)
print(matrix2)

Original 2-D matrix:
[[1 3]
 [2 6]]
[[0 1]
 [1 9]]

In [ ]:
import numpy as geek
  
in_arr1 = geek.array([[2, -7, 5], [-6, 2, 0]])
in_arr2 = geek.array([[0, -7, 8], [5, -2, 9]])
   
print ("1st Input array : ", in_arr1)
print ("2nd Input array : ", in_arr2)
   
    
out_arr = geek.multiply(in_arr1, in_arr2) 
print ("Resultant output array: ", out_arr)

1st Input array :  [[ 2 -7  5]
 [-6  2  0]]
2nd Input array :  [[ 0 -7  8]
 [ 5 -2  9]]
Resultant output array:  [[  0  49  40]
 [-30  -4   0]]

In [ ]:
import numpy as np 
        
arr = [[14, 17, 12, 33, 44],   
       [15, 6, 27, 8, 19],  
       [23, 2, 54, 1, 4,]]  
   
print("\nSum of arr : ", np.sum(arr)) 
print("Sum of arr(axis = 0) : ", np.sum(arr, axis = 0)) 
print("Sum of arr(axis = 1) : ", np.sum(arr, axis = 1))
  
print("\nSum of arr (keepdimension is True): \n",
      np.sum(arr, axis = 1, keepdims = True))

Sum of arr :  279
Sum of arr(axis = 0) :  [52 25 93 42 67]
Sum of arr(axis = 1) :  [120  75  84]

Sum of arr (keepdimension is True):
 [[120]
 [ 75]
 [ 84]]

In [ ]:
import numpy as np
  
a = [[1, 0], [0, 1]]
b = [[4, 1], [2, 2]]
np.dot(a, b)

array([[4, 1],
       [2, 2]])