<a href="https://colab.research.google.com/github/9072814845/dsml/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hellooo")

hellooo

In [5]:
s=1
print(type(s))
a="hello"
print(type(a))
b=[1,2]
print(type(b))
c={1:'apple',2:'orange'}
print(type(c))
d=True
print(type(d))
e=1.2
print(type(e))
f={"a","b"}
print(type(f))
g=()
print(type(g))
h=bytes()
print(type(h))
i=bytearray()
print(type(i))
j=range(4)
print(type(j))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

In [13]:
k=['s','r','e','e']
print(k[0])
print(k[1])
print(k[2])
print(k[3])
print(k[0:2])
print(k[ : ])
print(k[-2])

s
r
e
e
['s', 'r']
['s', 'r', 'e', 'e']
e

In [14]:
d={1:'sreelekshmi',2:'aswathy',3:'anjali'}
print(d)
print("1st name is"+d[1])
print("2nd name is"+d[2])
print(d.keys())
print(d.values())

{1: 'sreelekshmi', 2: 'aswathy', 3: 'anjali'}
1st name issreelekshmi
2nd name isaswathy
dict_keys([1, 2, 3])
dict_values(['sreelekshmi', 'aswathy', 'anjali'])